rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Productos - Cualquiera puede leer, solo admins pueden escribir
    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
    
    // Órdenes - Solo admins pueden leer y escribir
    match /orders/{orderId} {
      allow read, write: if request.auth != null;
    }
  }
}
